<div class="parcel-container">
  <h1>Create New Parcel</h1>

<%= simple_form_for [@garden, @parcel] do |f| %>
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
