
    <% events.each do |event| %>
      <div class="event-card-index">
        <div class="img-container">
          <%= cl_image_tag event.photo.key, class:"d-block w-100" %>
          <% if params[:controller] == "users"%>
            <h2 style="width:100%;"><%= event.name %></h2>
          <% else %>
            <h2 id="attending-h2"><%= event.name %></h2>
          <% end %>
        </div>

        <% if event.garden %>
          <div class="events-atribute-list">
            <span class="event-atribute">
          <div class="svg-icons-events-attribute">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1">
              <path d="M16.114-0.011c-6.559 0-12.114 5.587-12.114 12.204 0 6.93 6.439 14.017 10.77 18.998 0.017 0.020 0.717 0.797 1.579 0.797h0.076c0.863 0 1.558-0.777 1.575-0.797 4.064-4.672 10-12.377 10-18.998 0-6.618-4.333-12.204-11.886-12.204zM16.515 29.849c-0.035 0.035-0.086 0.074-0.131 0.107-0.046-0.032-0.096-0.072-0.133-0.107l-0.523-0.602c-4.106-4.71-9.729-11.161-9.729-17.055 0-5.532 4.632-10.205 10.114-10.205 6.829 0 9.886 5.125 9.886 10.205 0 4.474-3.192 10.416-9.485 17.657zM16.035 6.044c-3.313 0-6 2.686-6 6s2.687 6 6 6 6-2.687 6-6-2.686-6-6-6zM16.035 16.044c-2.206 0-4.046-1.838-4.046-4.044s1.794-4 4-4c2.207 0 4 1.794 4 4 0.001 2.206-1.747 4.044-3.954 4.044z"/>
            </svg>
          </div>
          <%= event.garden.name %>
        </span>
        <% end %>
        <span class="event-atribute">
        <div class="svg-icons-events-attribute">
          <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" fill="white"/>
              <g filter="url(#filter0_d_15_268)">
              <path d="M3 8.26667V19C3 19.5523 3.44772 20 4 20H20C20.5523 20 21 19.5523 21 19V8.26667M3 8.26667V5C3 4.44772 3.44772 4 4 4H20C20.5523 4 21 4.44772 21 5V8.26667M3 8.26667H21" stroke="#000000" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter1_d_15_268)">
              <path d="M7 2V5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter2_d_15_268)">
              <path d="M17 2V5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter3_d_15_268)">
              <path d="M18 11H16" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter4_d_15_268)">
              <path d="M18 17H16" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter5_d_15_268)">
              <path d="M13 11H11" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter6_d_15_268)">
              <path d="M13 17H11" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter7_d_15_268)">
              <path d="M8 11H6" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter8_d_15_268)">
              <path d="M8 17H6" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter9_d_15_268)">
              <path d="M18 14H16" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter10_d_15_268)">
              <path d="M13 14H11" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <g filter="url(#filter11_d_15_268)">
              <path d="M8 14H6" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <filter id="filter0_d_15_268" x="1.5" y="3.5" width="21" height="19" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter1_d_15_268" x="5.5" y="1.5" width="3" height="6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter2_d_15_268" x="15.5" y="1.5" width="3" height="6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter3_d_15_268" x="14.5" y="10.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter4_d_15_268" x="14.5" y="16.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter5_d_15_268" x="9.5" y="10.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter6_d_15_268" x="9.5" y="16.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter7_d_15_268" x="4.5" y="10.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter8_d_15_268" x="4.5" y="16.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter9_d_15_268" x="14.5" y="13.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter10_d_15_268" x="9.5" y="13.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              <filter id="filter11_d_15_268" x="4.5" y="13.5" width="5" height="3" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="1"/>
              <feGaussianBlur stdDeviation="0.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15_268"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15_268" result="shape"/>
              </filter>
              </defs>
            </svg>
          </div>
        <%= event.date.strftime('%B %d, %Y') %>
        </span>
          </div>
        <div class="card-description">
          <p><%= truncate(event.description, length: 100) %></p>
        </div>
      </div>
    <% end %>
