<div class="root">
  <div class="root-background">
    <%= video_tag( 'animated.mp4', id: 'background', autoplay: true, loop: true, muted: true )%>
  </div>

  <div class="root-gradient"></div>

  <div class="root-info container">
    <h1 class="primary-heading">
      <span>Welcome</span><br>
      <span>to </span>
      <span>CityGardens</span>
    </h1>

    <h2 class="secondary-heading">
      <span>Ready</span>
      <span>to</span>
      <span>start</span>
      <span>gardening?</span>
    </h2>
    <h2>
      <span>Grow</span>
      <span>your</span>
      <span>own</span>
      <span>urban</span>
      <span>Oasis</span>
    </h2>
  </div>
  <div class="root-links">
    <% if user_signed_in? %>
      <%= link_to "Discover", events_path , id: "root-btn" ,class: "action-button" %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, id: "root-btn" , class: "inset-action-button"%>
    <% else %>
      <%= link_to "Login", user_session_path , id: "root-btn" ,class: "action-button" %>
      <%= link_to "Browse events", events_path , id: "root-btn" ,class: "inset-action-button" %>
    <% end %>
  </div>
</div>
