<div class="sing-in-wrapper">
<div class="form-container-registry">
  <div class="login-container-logo">
    <%= image_tag 'logo.png', alt: 'Website Logo', class: 'login-logo-image' %>
  </div>
   <div class="form-title">
    <h2>Log in</h2>
  </div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: {
                  autocomplete: "email",
                  placeholder: "Your Email",
                  class: "registry-input"
                  },
                label: false
                %>
    <%= f.input :password,
                required: false,
                input_html: {
                  autocomplete: "current-password",
                  placeholder: "Password",
                  class: "registry-input"
                  },
                label: false
                %>

  </div>
<div class="registry-input-remember">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions registry-form-submit">
    <%= f.button :submit, "Log in" %>
  </div>
<%= render "devise/shared/links" %>

<% end %>

</div>
</div>
