<div class="garden-show">
  <div class="garden-image">
    <% if @garden.photos.attached? %>
      <%= image_tag(@garden.photos.first, alt: @garden.name, class: "garden-show-image") %>
    <% else %>
      <%= image_tag('logo.png', alt: 'No image available', class: "garden-show-image") %>
    <% end %>
  </div>
  <h1><%= @garden.name %></h1>
  <p><%= @garden.description %></p>

  <section class="event-card">
    <div class="event-card-info">
      <h3 class="text-center">Available Parcels</h3>
      <div class="event-card-infos">
        <% @garden.parcels.each do |parcel| %>
          <div class="event-card-info">
            <h4><%= parcel.name %></h4>
            <% unless current_user == @garden.user %>
              <%= link_to 'Reserve this Parcel', new_parcel_parcel_reservation_path(@garden, parcel), class: 'reserve-parcel-button' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="event-card">
    <div class="event-card-info">
      <h3 class="text-center">Events</h3>
      <% @garden.events.each do |event| %>
        <div class="event-detail">
          <p>Event name: <%= event.name %></p>
          <p>Date and time: <%= event.date ? event.date.strftime("%d %b %Y") : "Not specified" %></p>
          <% if event.persisted? %>
            <%= link_to "Book", event_path(event), class: "action-button" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
