<div class="events-show">
  <section class="section-show mx-2">
    <div class="show-container">
      <div class="show-photo-column">
        <% if @garden.photos.attached? %>
          <%= image_tag(@garden.photos.first, alt: @garden.name, class: "garden-show-image") %>
        <% else %>
          <%= image_tag('logo.png', alt: 'No image available', class: "garden-show-image") %>
        <% end %>
      </div>

      <div class="show-description-column mx-3 mt-3">
        <h3 class="show-event-title"><strong><%= @garden.name %></strong></h3>
        <p class="event-address"><%= @garden.location %></p>
        <hr>

        <p class="show-description"><%= @garden.description %></p>
        <hr>

        <div class="available-parcels">
          <h4>Available Parcels</h4>
          <% if @garden.available_parcel_objects.any? %>
            <ul>
              <% @garden.available_parcel_objects.each do |parcel| %>
                <li class="parcel-item">
                  <%= image_tag(parcel.image_url, alt: parcel.name, class: "parcel-image") if parcel.image_url.present? %>
                  <%= link_to parcel.name, new_parcel_parcel_reservation_path(parcel_id: parcel.id), class: "parcel-link" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No parcels available</p>
          <% end %>
        </div>
        <hr>
        <h4>Reviews</h4>

        <div class="reviews-section">
          <% @garden_reviews.each do |review| %>
            <div class="reviews-container">
              <div class="review-date">
                <p> <%= review.created_at.strftime("%d %B %Y %R") %></p>
              </div>
              <div class="d-flex mb-3">
                <% review.rating.times do %>
                  <span class="fa fa-star checked"></span>
                <% end %>
                <% (5 - review.rating).times do %>
                  <span class="fa fa-star unchecked"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <%= simple_form_for [@garden, @review] do |f| %>
          <%= f.input :rating, collection: (1..5), label: 'Rating', input_html: { class: 'custom-rating-input' } %>
          <%= f.input :content, label: 'Review', as: :text, input_html: { class: 'custom-review-textarea' } %>
          <div class="d-flex justify-content-end">
            <%= f.submit "Submit Review", class: "action-button review-button" %>
          </div>
        <% end %>

        <hr>

      </div>
    </div>
  </section>
</div>
