<div class="garden-show">
  <div class="garden-image">
    <% if @garden.photos.attached? %>
      <%= image_tag(@garden.photos.first, alt: @garden.name, class: "garden-show-image") %>
    <% else %>
      <%= image_tag('logo.png', alt: 'No image available', class: "garden-show-image") %>
    <% end %>
  </div>

  <h1><%= @garden.name %></h1>
  <p><%= @garden.description %></p>

  <div class="rent-parcel-form">
    <h2>Rent a Parcel</h2>
    <%= form_with(model: [ @garden, @garden.events.build ]) do |form| %>
      <div class="field">
        <%= form.label :date_and_time, "Date and Time for Visit" %>
        <%= form.datetime_select :date_and_time %>
      </div>

      <div class="field">
        <%= form.label :number_of_guests, "Number of Guests (if applicable)" %>
        <%= form.number_field :number_of_guests, in: 1..100 %>
      </div>

      <div class="actions">
        <%= form.submit "Confirm Booking" %>
      </div>
    <% end %>
  </div>
</div>

<section class="event-card">
  <div class="event-card-info">
    <h3 class="text-center">Events</h3>
    <% @garden.events.each do |event| %>
      <!-- Debugging Output -->
      <% Rails.logger.debug "Event: #{event.inspect}" %>

      <div class="event-detail">
        <p>Event name: <%= event.name %></p>
        <p>Date and time: <%= event.date ? event.date.strftime("%d %b %Y") : "Not specified" %></p>
        <% if event.persisted? %>
          <%= link_to "Book", event_path(event), class: "action-button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
